.card {
  width: var(--card-width);
  height: var(--card-height);
}

.card-wrapper {
  overflow: hidden;
}

.card-wrapper:last-of-type,
.card-wrapper:hover {
  overflow: visible;
}

.card-wrapper:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
