.connected-users {
  grid-column: -3 / -1;
  grid-row: 1 / -1;
  transform: translateX(calc(var(--card-height) * 1.5));
  color: #fff;
}

.connected-users ul {
  margin: 0;
  padding: 0;
}

.connected-users ul li {
  margin: 0 0 0.5rem 1rem;
}

.connected-users .btn-icon svg {
  width: 0.8rem;
  height: 0.8rem;
}

.connected-users .btn-icon.add {
  color: #fff;
  transform: rotate(45deg);
}

.connected-users .btn-icon.remove {
  color: #fc5554;
}

@media (max-width: 719px), (max-height: 719px) {
  .connected-users {
    transform: translateX(0);
  }
  .connected-users ul {
    display: flex;
  }
  .connected-users ul li {
    margin: 0 2rem 0.5rem 1rem;
  }
}