.game-controls {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.game-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.game-controls button[disabled] {
  cursor: not-allowed;
}

.game-controls button svg {
  color: #ccc;
  width: 32px;
  height: 32px;
}

.game-controls button[disabled] svg {
  color: #666;
}