.in-play {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: calc(var(--card-width) * 0.25) calc(var(--card-width) * 0.5) var(--card-width) calc(var(--card-width) * 0.5) var(--card-width) calc(var(--card-width) * 0.5) calc(var(--card-width) * 0.25);
  grid-template-rows: calc(var(--card-width) * 0.25) calc(var(--card-width) * 0.5) var(--card-width) calc(var(--card-width) * 0.5) var(--card-width) calc(var(--card-width) * 0.5) calc(var(--card-width) * 0.25);
  transform: rotate(var(--rotate-angle));
}

.move-to-played {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-to-played button {
  border: none;
  background: transparent;
}

.move-to-played button svg {
  width: calc(var(--card-width) * 0.5);
  height: calc(var(--card-width) * 0.5);
  color: #ccc;
  cursor: pointer;
}

.in-play .card-wrapper {
  overflow: visible;
}

.in-play .player1 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.in-play .player2 {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}

.in-play .player3 {
  grid-column: 5 / 6;
  grid-row: 5 / 7;

}
.in-play .player4 {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}

.in-play .player2,
.in-play .player4 {
  transform: rotate(-90deg);
  transform-origin: calc(var(--card-width) * 0.5) calc(var(--card-width) * 0.5);
}

@media (max-width: 719px), (max-height: 719px) {

  .in-play {
    --rotate-angle: 0deg !important;
    display: block;
    margin-bottom: 2rem;
  }

  .in-play .player2, 
  .in-play .player4 {
      transform: rotate(0deg);
  }

  .in-play .card-wrapper svg {
    display: none;
  }
  .in-play .card-wrapper .text {
    display: block;
    margin-bottom: 0.5rem;
  }
}
