* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background: #ccc;
}

.cardlist {
  display: flex;
  margin-bottom: 1rem;
  min-height: var(--card-height);
}


.cardlist.available .card-wrapper,
.cardlist.played .card-wrapper {
  flex: 0 1 1rem;
}