* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background: #ccc;
}

.cardlist {
  display: flex;
  align-content: center;
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
}

.card-wrapper {
  overflow: hidden;
}

.card-wrapper:last-of-type,
.card-wrapper:hover {
  overflow: visible;
}
