*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(43, 33.33%);
  gap: 2rem;
}

.cardlist {
  display: flex;
  margin-bottom: 1rem;
  min-height: var(--card-height);
}

.cardlist:empty::after {
  content: attr(data-empty-message);
  display: block;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 4px;
  color: #666;
  border: 1px dashed;
  padding: 1rem;
  font-size: 0.9em;
  text-align: center;
}

.cardlist.available .card-wrapper,
.cardlist.played .card-wrapper {
  flex: 0 1 1rem;
}